flask~=2.2.3
flask-smorest
python-dotenv
sqlalchemy~=2.0.7
flask-sqlalchemy
flask-jwt-extended
flask-migrate
requests
rq
rq-scheduler
pylint
marshmallow~=3.19.0
psycopg2-binary
flask-migrate
flask-login
flask-script~=2.0.6
flask_cors
Authlib
requests
Flask-Dance~=6.2.0
jsonschema
pytest
google-auth-oauthlib
google-auth
phonenumbers

